*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
address{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}
