.header {
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header__menu {
    display: flex;
}

.header__link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.header__link_active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__links-list {
    display: flex;
    gap: 13px;
    flex-wrap: nowrap;
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.address {
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__address {
    justify-self: end;
    list-style: none;
    place-content: center;
}

.header__address_no-underline {
    text-decoration: none;
}

.header__logo-image {
    display: flex;
    justify-self: right;
    width: 148px;
    height: 105px;
}

.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background-color: #FFF;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 165px 50px 50px 50px;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 0;
}

.cover__title {
    height: 385px;
    width: 1000px;
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color:#FFF;
    line-height: 1.1;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.cover__description {
    width: 1000px;
    height: 51px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    word-spacing: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0px;
    color: #fff;
}

.bet-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 0;
    padding: 12px 32px;
    cursor: pointer;
    z-index: 2;
    }

.lots {
    width: 1052px;
    margin: 180px 24px 120px 24px;
}

.lots__heading {
    font-size: 40px;
    font-family: Raleway;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    align-items: stretch;
}

.lots__card-list-item {
    flex: 1 1 300px;
    min-height: 400px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 596px;
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px 48px 40px;
    color: #fff;
    overflow: hidden;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    position: relative;
    z-index: 2;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    color: #000;
    font-weight: 400;
    font-family: Raleway;
}
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 24px;
    width: 1052px;
    height: 595px;
    margin: 120px auto 180px auto;
    align-items: start;
}

.about__column-left {
    padding-top: 20px;
    height: 596px;
    width: 334px;
}

.about__column-right {
    display: flex;
    flex-direction: column;
    width: 693px;
    height: 449px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin: 35px 72px 320px 47px;
}

.about__logo-image {
    width: 148px;
    height: auto;
    display: block;
}

.about__title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 150px 402px 100px 0px;
}

.about__text {
    margin-top: auto;
    width: 100%;
}

.about__text p {
    width: 100%;
    max-width: 693px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 12px 0;
}

.about__text p:first-child {
    margin-bottom: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 265px 1fr 240px;
    align-items: start;
    width: 1100px;
    padding: 0 50px 82px 50px;
}

.footer__address {
    justify-self: end;
    list-style: none;
    place-content: center;
}

.address__link {
    text-decoration: none;
    color: #000;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer__menu-link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    height: 400px;
}

.footer__menu-link_active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.footer__social-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    padding: 0;
    margin: 0;
}   

.footer__social-icon {
    width: 48px;
    height: 48px;
}